/* 3:48 */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
body{
    background-color: beige;
    background-color: linear-gradient(135deg, #f6d365, #fda085);
    height: 100vh;
   
}
.quote-box{
    background-color: rgb(219, 217, 107);
    width: 700px;
    /* height: 40vh; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    /* light ati to pta krta hn */
    padding: 40px;
    border-radius: 12px;
    text-align: center;
}
.quote-box h2{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
    color: rgb(20, 103, 171);
}
.quote-box h2::after{
    content: '';
    position: absolute;
    width: 150px;
    height: 3px;
    border-radius: 3px;
    background: rgb(83, 83, 166);
    bottom: -10px;
    left: 50%;
    transform:translateX(-50%);    

}
.quote-box blockquote{
    font-size: 26px;
    min-height: 110px;
}
.quote-box blockquote::after,.quote-box blockquote::before{
    content: '"';
}
.quote-box span{
    display: block;
margin-top: 10px;
float: right;
    position: relative;
}
.quote-box >span::before{
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: -30px;
}

.glow-btn {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #000000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.glow-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
}

.glow-btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.glow-btn:hover::after {
  filter: blur(30px);
}

.glow-btn:hover::before {
  transform: rotate(-180deg);
}

.glow-btn:active::before {
  scale: 0.7;
}

/* From Uiverse.io by mrhyddenn */ 
.twitter-btn {

  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(40, 144, 241);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(40, 144, 241);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.twitter-btn span {
  margin: 10px;
}
.twitter-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.twitter-btn:hover {
  color: #fff;
  border: 1px solid rgb(40, 144, 241);
}
.twitter-btn:hover::before {
  box-shadow: inset 0 0 0 10em rgb(40, 144, 241);
}
.quote-box div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
/* 
.twitter-btn:hover img{
    display: none;
} */

@media screen and (max-width:768px){
    .quote-box{
        width: 90%;
        margin: auto;
        padding: 10px;
    }
    
}

