*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.container{
    background:linear-gradient(125deg,#4203a9,#90bafc) ;
    color: white;
    height: 100vh;
    width: 100%;
    padding: 10px;
}
.calculator{
    margin-top: 10%;
    margin-left: 10%;
    font-size: 25px;
    font-weight: 600;
}
.calculator>h1>span{
    color:  rgb(255, 204, 0);
}
.inputbox{
    max-width: 600px;
    width: 100%;
    padding: 35px;
    margin: 40px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
}
.inputbox input{
    flex: 1;
    padding: 14px 20px;
    margin-right: 20px;
    border-radius: 12px;
    width: 80%;
    border: none;
    outline: none;
    position: relative;
}
.inputbox button{
    padding: 14px 20px;
    background: rgb(255, 204, 0);
    color: black;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 20%;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.inputbox input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: auto;
}
 #result >span {
    color:rgb(255, 204, 0); ;
 }
 
 @media screen and (max-width:768px){
    .calculator{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 25px;
    font-weight: 600;
}
     .inputbox>button{
        width: 100%;
     }
 }